* {
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 20px;
}
body {
    background-color:  #f7f0d5;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    writing-mode: horizontal-tb
}
.description {
    color: #000000; 
    width: 100%; 
    margin-top: 20px; 
    text-align: center; 
}
.button button {
	background-color: #e07a5f;
	color:#f7f0d5;
	border: none;
}
.button button:hover{
	background-color: #ffb29d;
}
.container {
    width: 100%;
    text-align: center;
}
.shell{
    width: 100%; 
    position: fixed; 
    top: 0; 
    z-index: 10; 
    display: flex;
    justify-content: center;

}
.button,.portrait{
    background-color:#9C3F48;
    width: 170px;
    height: 65px;
    text-align: center;
    line-height: 65px;
    transition: .3s;
    cursor: pointer;
    color: #f4eade;
}
.portrait::before{
    content: '';
    display: block;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    transform: translate(30px,-30px);
    background-image: url('./portrait.png');
    background-size: cover;
    border: 10px solid #fff;
}
.information{
    width: 220px;
    background-color: #e07a5f;
    transform: translate(-20px,-200px);
    border-radius: 10px;
    padding: 20px 0;
    line-height: 0;
    height: 0;
    transition: .3s;
    opacity: 0;

}
.button:hover{
    background-color: #d15a39;
}
.button li:hover{
    background-color: #ffb29d;
}
.button ul li{
    height: 0;
    transition: .2s;
    opacity: 0;
    transform: translateY(-65px);
    background-color: #e07a5f;
}
.button:hover li{
    height: 65px;
    opacity: 1;
    transform: translateY(0);
}
.portrait:hover .information{
    opacity: 1;
    line-height: 65px;
    transform: translate(-20px,-10px);
    height: auto;
}
.button1 button {
	background-color: #9C3F48;
	color:#f7f0d5;
	border: none;
}
.button1 button:hover{
	background-color: #d15a39;
}
.button1,.portrait{
	background-color:#9C3F48;
	width: 170px;
	height: 65px;
	text-align: center;
	line-height: 65px;
	transition: .3s;
	cursor: pointer;
}
.button1:hover{
	background-color: #d15a39;
}

a{
	list-style: none;
}
li{
	list-style: none;
}
.lunbo{
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.content{
	width: 2000px;
	height: 715px;
	margin: 20px auto;
	position: relative;

}
#item{
	width: 1100px; 
    height: 600px;
}
.item{
	position: absolute;
	opacity: 0;
	transition: all 1s;
	display: flex;
	justify-content: center;   

}
.item.active{
	opacity:1;
}

#btn-left{
	width: 30px;
	height: 69px;
	font-size: 30px;
	color: white;
	background-color:rgba(0,0,0,0.4);
	line-height: 69px;
	padding-left:0px;
	z-index: 10;
	position: absolute;
	left: 0;
	top: 50%;
	transform: translateY(-60%);
	cursor: pointer;
	opacity: 0;
}
.lunbo:hover #btn-left{
	opacity: 1;
}

#btn-right{
	width: 20px;
	height: 70px;
	font-size: 30px;
	color: white;
	background-color:rgba(0,0,0,0.4);
	line-height: 69px;
	padding-left: 5px;
	z-index: 10;
	position: absolute;
	right: 0;
	top: 50%;
	cursor: pointer;
	opacity: 0;
	transform: translateY(-60%);
}
.lunbo:hover #btn-right{
	opacity: 1;
}
#circle{
	height: 20px;
	display: flex;
	position: absolute;
	bottom: 35px;
	right: 25px;
}
.circle{
	width: 10px;
	height: 10px;
	border-radius: 10px;
	border: 2px solid white;
	background: rgba(0,0,0,0.4);
	cursor: pointer;
	margin: 5px;
}
.white{
	background-color: #FFFFFF;
}

.bada p {
	line-height: 26px;
	font-weight: 400;
	font-size: 15px;
	color: #7C6A6A;
	font-family: 'Poppins', sans-serif;
	text-align: center;
}

.bada-box {
	display: flex;
	justify-content: center;       
	margin-top: 40px;
}
.aitem {
	width:100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.aitem h3 {
	text-align: center;
}
.aitem img {
	border-radius: 50%;
	margin: 5px ;
	width: 150px;
	height: 150px;
}
.acontent{
    width: 100%;
    flex-wrap: wrap;
    margin-top:1500px;
}