* {
    margin: 0;
    padding: 0;
    background-color: #f7f0d5;
}
h1{    /*style for heading*/
    color:rgb(126, 33, 33);
    margin: 20px; 
    font-size: 50px;
    text-align: center;
}
ul {    /*remove list style*/
    list-style: none;
}
.w {   /*Set width and center align the forum container */
    width: 900px;
    margin: 0 auto;
}
.controls textarea {  /*Styles for the text area and controls */
    width: 878px;
    height: 100px;
    resize: none;
    border-radius: 10px;
    outline: none;
    padding-left: 20px;
    padding-top: 10px;
    font-size: 18px;
}
.controls {
    overflow: hidden;
}
.controls div {
    float: right;
}
.controls div span {
    color: #666;
}
.controls div .useCount {
    color: rgb(126, 33, 33);
}
.controls div button {
    width: 100px;
    outline: none;
    border: none;
    background: rgb(0, 132, 255);
    height: 30px;
    cursor: pointer;
    color: #000000;
    font: bold 14px "宋体";
    transition: all 0.5s;
}
.controls div button:hover {
    background: rgb(0, 225, 255);
}
.controls div button:disabled {
    background: rgba(0, 225, 255, 0.5);
}
.contentList {  /* Styles for the list of comments */
    margin-top: 50px;
}
.contentList li {
    padding: 20px 0;
    border-bottom: 1px dashed #ccc;
    position: relative;
}
.contentList li .info {
    position: relative;
}
.contentList li .info span {
    position: absolute;
    top: 0px;
    left: 100px;
}
.contentList li .info p {
    position: absolute;
    top: 40px;
    left: 100px;
    color: #060202;
    font-size: 12px;
}
.contentList img {
    width: 80px;
    border-radius: 50%;
}
.contentList li .content {
    padding-left: 100px;
    color: #666;
    word-break: break-all;
}
.contentList li .the_del {
    position: absolute;
    right: 0;
    top: 0;
    font-size: 28px;
    cursor: pointer;
}
.s{    /* Styles for star rating */
    display: inline-block;
}
.liclass1{
    width: 14px;
    height: 28px;
    float:left;
    caret-color: transparent;
    background: url(picture/star.gif) no-repeat 0px 0px;
    list-style: none;
}
.liclass2{
    width: 14px;
    height: 28px;
    float:left;
    caret-color: transparent;
    background: url(picture/star.gif) no-repeat -14px 0px;
    list-style: none;
}
.liclass3{
    width: 14px;
    height: 28px;
    float:left;
    caret-color: transparent;
    background: url(picture/star.gif) no-repeat 0px -28px;
    list-style: none;
}
.liclass4{
    width: 14px;
    height: 28px;
    float:left;
    caret-color: transparent;
    background: url(picture/star.gif) no-repeat -14px -28px;
    list-style: none;
}
.astar{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
h3{  /* Styles for heading */
    text-align: center; 
}
.bt{/* Styles for button*/
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}